<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper代理的开发规则： 1、namespace必须时候接口的全限定名 2、Statementid必须和接口的方法名称一致 3、接口方法的参数类型要和parameterType要一致 
	4、接口方法的返回值类型要和resultType一致 -->
<mapper namespace="com.zyh.mapper.RoleMapper">
	
	<!-- 编写一登录校验操作 -->
	<insert id="addRole" parameterType="com.zyh.po.Role">
		insert into role(roleName, roleDescription, createDate)
		values(#{roleName}, #{roleDescription}, #{createDate})
	</insert>
	
	<select id="findAllRole" resultType="com.zyh.po.Role">
		SELECT * FROM role
	</select>
	
	<select id="findRoleById" parameterType="String" resultType="com.zyh.po.Role">
		SELECT * FROM role where roleId = #{roleId}
	</select>
	
	<delete id="deleteRoleById" parameterType="int">
		delete from role where roleId = #{roleId}
	</delete>
	
	<update id="updateRole" parameterType="com.zyh.po.Role">
		update role set roleName=#{roleName}, roleDescription=#{roleDescription}, createDate=#{createDate}
		where roleId=#{roleId}
	</update>
	
</mapper>